<div class="main">
  <section class="notify" *ngFor="let task of importTasks; let i = index">
    <div class="notifyCard">
      <span class="taskName">{{ task.Task }}</span>
      <span class="close" (click)="onClose(task.Task)"
        ><ion-icon class="closeIcon" name="close-circle-outline"></ion-icon
      ></span>
    </div>
  </section>

  <div class="container">
    <h3>{{ title }}</h3>
    <section class="taskForm">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="task">
          <input
            type="text"
            placeholder="Task Description"
            maxlength="200"
            formControlName="taskDescription"
            (ngModelChange)="charChange()"
          />
          <div class="taskLabel">
            <label for="task">Task</label>
            <span
              class="countReached"
              *ngIf="
                (!taskDescription.valid && taskDescription.touched) ||
                charCount == 200
              "
              >max count reached</span
            >
            <span class="charCount">{{ charCount }}/200</span>
          </div>
        </div>
        <div class="expiry">
          <input type="date" value="12 May 2016" formControlName="expiryDate" />
          <label for="expiry">Expiry Date</label>
        </div>
        <div class="selectUser">
          <select name="selectUser" id="selectUser" formControlName="users">
            <option value="" disabled="selected">Select</option>
            <option *ngFor="let user of users" [value]="user">
              {{ user }}
            </option>
          </select>
          <label for="selectUser">User</label>
        </div>
        <div class="flag">
          <label for="flag" class="flag_label">
            <input
              ngDefaultControl
              formControlName="important"
              type="checkbox"
              class="imp__flag"
              [value]="importantFlag"
              (change)="changeFlag($event)"
            />
            <ion-icon
              class="flagIcon"
              name="{{ importantFlag ? 'flag' : 'flag-outline' }}"
            ></ion-icon
            >Important</label
          >
        </div>
        <div class="btn">
          <button type="submit">Submit</button>
        </div>
      </form>
    </section>
    <hr />
    <section class="taskList">
      <table>
        <tr>
          <th>Task</th>
          <th>Expiry Date</th>
          <th>Users</th>
          <th>Important</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let task of tasks">
          <td>{{ task.Task }}</td>
          <td>{{ task.Expiry_date }}</td>
          <td>
            <select name="selectUser" id="selectUser" def>
              <option
                *ngFor="let user of users"
                [selected]="task.User === user"
              >
                {{ user }}
              </option>
            </select>
          </td>
          <td>
            <ion-icon
              class="flagIcon"
              name="{{ task.Important ? 'flag' : 'flag-outline' }}"
            ></ion-icon>
          </td>
          <td>
            <ion-icon
              class="actionIcon"
              name="remove-circle-outline"
            ></ion-icon>
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>
